body{
    background-color: darkcyan;
}
.light{
height: 200px;
width: 200px;
}
.current-green{
    box-shadow: 0 0 20px 10px lightgreen;
    background-color: lightgreen !important;
}
.current-yellow{
    box-shadow: 0 0 20px 10px lightyellow;
    background-color: lightyellow !important;
}
.current-red{
    box-shadow: 0 0 20px 10px lightcoral;
    background-color: lightcoral !important;
}
.trafficBox{
    height: 700px;
    width: 300px;
}
.changeButton{
    width: 200px;
}